/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #1a4d70;
    --font_size: 16px;
    --font_size_title: 36px;
    --font_family: 'Roboto', 'Arial', sans-serif;
}


::selection
{
    color: #fff;

    background: #f9572b;
}

::-moz-selection
{
    color: #fff;

    background: #f9572b;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #f9572b;
}

html.custom_scroll
{
    scrollbar-color: #f9572b var(--bg);
    scrollbar-width: thin;
}


body
{
    color: var(--text_color);
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

body.menu_open
{
    overflow: hidden;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 390px;
    min-height: 100%;

    background: var(--bg);
}


.main
{
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
}


.lazyload,
.swiper-lazy
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lazyload.loaded,
.swiper-lazy-loaded
{
    opacity: 1;
}


.row
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.block
{
    margin-bottom: 80px;
}



/*----------
    Tabs
----------*/
.tabs
{
    display: flex;

    margin-bottom: 80px;

    background: #efefef;

    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}


.tabs .btn
{
    font-weight: 900;

    position: relative;

    display: block;

    padding: 16px 18px;

    transition: .2s linear;
}

.tabs .btn + .btn
{
    margin-left: 20px;
}


.tabs .btn:hover,
.tabs .btn.active
{
    color: #fff;

    background: #f9572b;
}


.tab_content
{
    position: relative;

    visibility: hidden;
    overflow: hidden;

    height: 0;

    pointer-events: none;

    opacity: 0;
}

.tab_content.active
{
    visibility: visible;
    overflow: visible;

    height: auto;

    transition: opacity .5s linear;
    pointer-events: auto;

    opacity: 1;
}



/*------------
    Header
------------*/
header
{
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    padding: 41px 0;
}


header .cont
{
    justify-content: space-between;
}



header .logo
{
    color: currentColor;

    display: block;

    margin-right: auto;

    text-decoration: none;
}

header .logo img
{
    display: block;
}



header .menu
{
    padding-top: 12px;
}


header .menu > * + *
{
    margin-left: 24px;
}


header .menu .btn
{
    font-weight: 500;

    position: relative;

    display: block;
}

header .menu .btn:after
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    width: 0;
    height: 3px;
    margin: auto;
    margin-top: 8px;

    content: '';
    transition: width .3s linear;

    background: #f9572b;
}

header .menu .btn:hover:after,
header .menu .btn.active:after
{
    width: 100%;
}



header .phone
{
    color: #f9572b;
    font-weight: 900;

    margin-top: 12px;
    margin-left: 24px;
}

header .phone a
{
    color: currentColor;

    white-space: nowrap;
    text-decoration: none;
}



header .mob_menu_btn
{
    color: #f9572b;

    position: relative;
    z-index: 3;

    display: none;

    width: 32px;
    height: 32px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


header .mob_menu_btn .icon
{
    display: block;

    width: 32px;
    height: 32px;
}

header .mob_menu_btn .icon + .icon,
header .mob_menu_btn.active .icon
{
    display: none;
}

header .mob_menu_btn.active .icon + .icon
{
    display: block;
}



/*----------------
    Block head
----------------*/
.block_head
{
    margin-bottom: 67px;
}


.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: calc(100% + 6px);

    position: relative;

    display: block;
}

.block_head .title:after
{
    position: absolute;
    top: 100%;
    left: 0;

    display: block;

    width: 100px;
    height: 3px;
    margin-top: 32px;

    content: '';

    background: #f9572b;
}


.block_head.center
{
    text-align: center;
}

.block_head.center .title:after
{
    right: 0;

    margin-right: auto;
    margin-left: auto;
}



/*------------------
    Form elements
------------------*/
.form
{
    --form_border_color: #fff;
    --form_focus_color: #fff;
    --form_error_color: red;
    --form_border_radius: 4px;
    --form_bg_color: #fff;
    --form_placeholder_color: #ccc;
}


.form ::-webkit-input-placeholder
{
    color: var(--form_placeholder_color);
}

.form :-moz-placeholder
{
    color: var(--form_placeholder_color);
}

.form ::-moz-placeholder
{
    color: var(--form_placeholder_color);

    opacity: 1;
}

.form :-ms-input-placeholder
{
    color: var(--form_placeholder_color);
}


.form .columns
{
    display: flex;

    margin-left: calc(var(--form_columns_offset) * -1);

    --form_columns_offset: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.form .columns > *
{
    width: calc(50% - var(--form_columns_offset));
    margin-left: var(--form_columns_offset);
}


.form .line
{
    margin-bottom: 24px;
}


.form .label
{
    font-size: 14px;

    margin-bottom: 4px;
}


.form .required
{
    color: #f9572b;
}


.form .field
{
    position: relative;
}


.form .input
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 43px;
    padding: 0 15px;

    transition: border-color .2s linear;

    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form .input:-webkit-autofill
{
    -webkit-box-shadow: inset 0 0 0 50px var(--form_bg_color) !important;
}


.form textarea
{
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    display: block;

    width: 100%;
    height: 130px;
    padding: 11px 15px;

    resize: none;
    transition: border-color .2s linear;

    border: 1px solid var(--form_border_color);
    border-radius: var(--form_border_radius);
    background: var(--form_bg_color);
}

.form textarea::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}


.form .input:focus,
.form textarea:focus
{
    border-color: var(--form_focus_color);
}


.form .error
{
    border-color: var(--form_error_color);
}


.form .exp
{
    font-size: 14px;

    margin-top: -16px;

    opacity: .8;
}


.form .submit
{
    padding-top: 24px;

    text-align: center;
}


.form .submit_btn
{
    color: #fff;
    font-weight: 500;

    padding: 12px 40px;

    border-radius: var(--form_border_radius);
    background: #f9572b;
}



/*----------------
    Typography
----------------*/
.text_block
{
    font-size: var(--font_size);
}


.text_block > *
{
    margin-bottom: 20px;
}


.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}



/*-----------------
    Main slider
-----------------*/
.main_slider
{
    position: relative;
    z-index: 3;

    padding-bottom: 92px;
}

.main_slider:before
{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 200px;

    content: '';
    pointer-events: none;

    background: url(../images/bg_main_slider_top.svg) 50% 0 no-repeat;
}

.main_slider:after
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 196px;

    content: '';
    pointer-events: none;

    background: url(../images/bg_main_slider_bottom.svg) 50% 100% no-repeat;
}


.main_slider .swiper-slide
{
    position: relative;

    overflow: hidden;
}


.main_slider .bg
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.main_slider .cont
{
    position: relative;
    z-index: 3;

    display: flex;

    min-height: 785px;
    padding-top: 217px;
    padding-bottom: 217px;

    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
}


.main_slider .data
{
    color: #fff;

    width: 515px;
    max-width: 100%;
}


.main_slider .title
{
    font-size: 48px;
    font-weight: 700;
}


.main_slider .desc
{
    font-size: 24px;
    font-weight: 700;

    margin-top: 8px;
}


.main_slider .callback_btn
{
    font-weight: 500;

    margin-top: 40px;
    padding: 12px 40px;

    border-radius: 4px;
    background: #f9572b;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}


.main_slider .image
{
    position: absolute;
    z-index: 5;
    right: 50%;
    bottom: 163px;

    margin-right: -551px;
}


.main_slider .image img
{
    display: block;

    width: 590px;
    height: 392px;
}



.main_slider .contacts
{
    position: absolute;
    z-index: 9;
    bottom: 73px;
    left: 50%;

    width: 708px;
    margin-left: 91px;

    transform: translateX(-50%);
}


.main_slider .contacts .row > * + *
{
    margin-left: 68px;
}


.main_slider .contacts .item
{
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.main_slider .contacts .icon
{
    color: #fff;

    display: flex;

    width: 58px;
    height: 58px;
    margin-right: 23px;

    border-radius: 50%;
    background: #f9572b;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.main_slider .contacts .icon svg
{
    display: block;

    width: 32px;
    height: 32px;
}

.main_slider .contacts .icon + *
{
    width: calc(100% - 81px);
}


.main_slider .contacts .label
{
    font-weight: 900;

    margin-bottom: 5px;
}


.main_slider .contacts .val
{
    font-weight: 500;
}

.main_slider .contacts .val a
{
    color: currentColor;

    white-space: nowrap;
    text-decoration: none;
}



/*----------------
    About info
----------------*/
.about_info
{
    padding: 80px 0 97px;

    background: #efefef;
}


.about_info .cont
{
    align-items: stretch;
    align-content: stretch;
}


.about_info .data
{
    width: 726px;
    max-width: 100%;
}


.about_info .data .desc
{
    width: 633px;
    max-width: 100%;
}


.about_info .image
{
    position: relative;

    overflow: hidden;

    width: 807px;
    margin-right: -360px;
    margin-left: auto;

    background: #ddd;
}

.about_info .image:after
{
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 0;

    display: block;

    width: 517px;
    height: 227px;

    content: '';

    background: #1a4d70;

    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.about_info .image img
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
}


.about_info .stats
{
    margin-top: 40px;
}


.about_info .stats .row
{
    margin-bottom: -40px;
    margin-left: -60px;
}

.about_info .stats .row > *
{
    margin-bottom: 40px;
    margin-left: 60px;
}


.about_info .stats .item
{
    font-weight: 900;

    width: 200px;
}


.about_info .stats .item .val
{
    color: #f9572b;

    position: relative;

    display: flex;

    height: 107px;
    margin-bottom: 12px;

    white-space: nowrap;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.about_info .stats .item .val img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}



/*---------------
    Equipment
---------------*/
.equipment
{
    padding-bottom: 39px;
}


.equipment .data
{
    position: relative;
    z-index: 3;

    width: 508px;
    max-width: 100%;

    align-self: center;
}


.equipment .data .title
{
    font-size: 24px;
    font-weight: 700;

    margin-bottom: 24px;
}


.equipment .images
{
    width: 508px;
    max-width: 100%;
    margin-left: auto;
    padding: 0 48px;
}


.equipment .images .swiper
{
    overflow: visible;
}


.equipment .images .swiper-slide
{
    position: relative;

    visibility: hidden;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}

.equipment .images .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.equipment .images .swiper-slide img
{
    display: block;

    max-width: 100%;
}


.equipment .images .swiper-horizontal > .swiper-pagination-bullets,
.equipment .images .swiper-pagination-bullets.swiper-pagination-horizontal,
.equipment .images .swiper-pagination-custom,
.equipment .images .swiper-pagination-fraction
{
    bottom: -58px;
}


.equipment .images .swiper-button-prev
{
    left: -112px;

    margin-left: 0;
}

.equipment .images .swiper-button-next
{
    right: -112px;

    margin-right: 0;
}


.equipment .images .swiper-pagination-bullet
{
    background: #d8d8d8;
}

.equipment .images .swiper-pagination-bullet:hover,
.equipment .images .swiper-pagination-bullet.active
{
    background: #f9572b;
}



/*----------------
    Advantages
----------------*/
.advantages
{
    position: relative;
    z-index: 3;

    padding: 100px 0 188px;
}

.advantages:before
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 275px;

    content: '';
    pointer-events: none;

    background: url(../images/bg_advantages_bottom.svg) 50% 100% no-repeat;
}


.advantages .cont
{
    position: relative;
    z-index: 3;
}


.advantages .block_head
{
    color: #fff;

    margin-bottom: 82px;
}


.advantages .row
{
    margin-bottom: -24px;
    margin-left: -24px;

    counter-reset: number;

    align-items: stretch;
    align-content: stretch;
}

.advantages .row > *
{
    width: calc(33.333% - 24px);
    margin-bottom: 24px;
    margin-left: 24px;
}


.advantages .item
{
    position: relative;

    padding: 32px 32px 78px;

    border-radius: 5px;
    background: #fff;
}


.advantages .item .number
{
    color: #1a4d70;
    font-size: 36px;
    line-height: 90px;

    position: absolute;
    z-index: 1;
    top: 32px;
    left: 32px;

    width: 74px;
    height: 90px;

    text-align: center;

    background: url(../images/bg_advantage_number.svg) 0 0 no-repeat;
}

.advantages .item .number:before
{
    content: counter(number);
    counter-increment: number;
}


.advantages .item .icon
{
    position: relative;
    z-index: 3;

    display: flex;

    height: 90px;
    margin-bottom: 40px;
    padding-left: 64px;

    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.advantages .item .icon img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.advantages .item .name
{
    font-size: 24px;
    font-weight: 700;

    position: relative;
}

.advantages .item .name:after
{
    position: absolute;
    top: 100%;
    left: 0;

    display: block;

    width: 100px;
    height: 3px;
    margin-top: 16px;

    content: '';

    background: #f9572b;
}


.advantages .item .desc
{
    margin-top: 35px;
}


.advantages .bg
{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: calc(100% - 275px);
}



/*-------------
    Clients
-------------*/
.clients .block_head
{
    margin-bottom: 83px;
}


.clients .row
{
    margin-bottom: -40px;

    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.clients .row > *
{
    margin-bottom: 40px;
}


.clients .item img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}



/*-----------
    Order
-----------*/
.order
{
    color: #fff;

    position: relative;
    z-index: 3;

    padding: 100px 0 152px;
}

.order:after
{
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 152px;

    content: '';
    pointer-events: none;

    background: url(../images/bg_order_bottom.svg) 50% 0 no-repeat;
}


.order .cont
{
    position: relative;
    z-index: 3;
}


.order .block_head
{
    margin-bottom: 82px;
}


.order .form
{
    width: 470px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.order .bg
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;
}



/*-------------
    Objects
-------------*/
.objects .map
{
    position: relative;

    width: 1182px;
    max-width: 100%;
    margin: 0 auto;
}


.objects .map img
{
    display: block;

    width: 100%;
}


.objects .map .item
{
    font-weight: 500;

    position: absolute;
    z-index: 3;
}

.objects .map .item:after
{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    display: block;

    width: 14px;
    height: 14px;
    margin: 0 auto;

    content: '';

    border: 1px solid #fff;
    border-radius: 50%;
    background: #f9572b;
}

.objects .map .item.top:after
{
    top: auto;
    bottom: 100%;

    margin-bottom: -3px;
}


.objects .map .item1
{
    top: 41.639%;
    left: 12.098%;
}

.objects .map .item2
{
    top: 27.213%;
    left: 10.321%;
}

.objects .map .item3
{
    top: 60.327%;
    left: 1.861%;
}

.objects .map .item4
{
    top: 50.491%;
    left: 12.267%;
}

.objects .map .item5
{
    top: 59.508%;
    left: 23.942%;
}

.objects .map .item6
{
    top: 63.114%;
    left: 29.610%;
}


.objects .list
{
    font-weight: 500;

    display: none;

    margin-top: 24px;
    margin-bottom: -4px;
    margin-left: -8px;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}

.objects .list > *
{
    position: relative;

    width: calc(25% - 8px);
    margin-bottom: 4px;
    margin-left: 8px;
    padding-left: 20px;
}

.objects .list > *:before
{
    position: absolute;
    top: 8px;
    left: 6px;

    display: block;

    width: 4px;
    height: 4px;

    content: '';

    border-radius: 50%;
    background: currentColor;
}



/*-------------------
    Contacts info
-------------------*/
.contacts_info
{
    position: relative;
    z-index: 3;

    padding-top: 80px;

    background: #1a4d70;
}


.contacts_info .cont
{
    position: relative;
    z-index: 3;
}


.contacts_info .block_head
{
    color: #fff;

    margin-bottom: 81px;
}


.contacts_info .bg
{
    display: flex;

    padding: 60px 141px 60px 60px;

    border-radius: 8px;
    background: #fff;

    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
}


.contacts_info .data
{
    display: flex;
    flex-direction: column;

    width: 375px;
    max-width: 100%;
}


.contacts_info .info
{
    color: #fff;

    padding: 40px;

    background: #f9572b;

    flex: 1 0 auto;
}


.contacts_info .info > * + *
{
    margin-top: 40px;
}


.contacts_info .info .icon
{
    display: flex;

    width: 32px;
    height: 32px;
    margin-bottom: 12px;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.contacts_info .info .icon svg
{
    display: block;

    width: 32px;
    height: 32px;
}


.contacts_info .info .label
{
    font-weight: 900;

    margin-bottom: 5px;
}


.contacts_info .info .val
{
    font-weight: 500;

    margin-top: 4px;
}

.contacts_info .info .val a
{
    color: currentColor;

    white-space: nowrap;
    text-decoration: none;
}


.contacts_info .time
{
    color: rgba(255,255,255,.8);
    font-size: 14px;

    margin-top: 4px;
    padding: 40px 40px 54px;

    background: #777;
}


.contacts_info .form
{
    width: calc(100% - 415px);

    --form_border_color: #d8d8d8;
    --form_focus_color: #d8d8d8;
}


.contacts_info .form .title
{
    color: #1a4d70;
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 32px;
}


.contacts_info .form .line
{
    margin-bottom: 20px;
}


.contacts_info .form .exp
{
    margin: 8px 0 0;
}


.contacts_info .form .submit
{
    padding-top: 20px;

    text-align: left;
}



.contacts_info .bg_img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;

    pointer-events: none;
}



/*------------
    Footer
------------*/
footer
{
    color: #fff;

    padding: 32px 0;

    background: #1a4d70;
}


footer .cont
{
    justify-content: space-between;
    align-items: center;
    align-content: center;
}



footer .copyright
{
    opacity: .6;
}



footer .logo img
{
    display: block;
}
